* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

/*navigation*/

.navigation-section {
	height: 50px;
	width: 100%;
	background-color: #4e4e4e;
}

.navigation {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-logo {
	color: white;
	font-weight: bold;
	margin-left: 15px;
}

.nav-list {
	list-style: none;
}

.nav-item {
	display: none;
}

.nav-item a {
	text-decoration: none;
	font-size: 18px;
	color: white;
	padding: 46px;
}

@media screen and (min-width: 768px) {
	.nav-logo {
		margin-left: 46px;
	}

	.nav-item {
		display: inline-block;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		width: 960px;
		margin: 0 auto;
	}

	.nav-logo {
		margin-left: 0px;
	}

	.nav-item {
		display: inline-block;
	}

	.contact a {
		cursor: not-allowed;
	}
}

/*header*/

.header-img {
	height: calc(100vh - 50px);
	width: 100%;
	background-image: url(/image/Tło\ sekcji.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header-bcg {
	display: flex;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
}

.header-text-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 15px;
}

.header-text {
	color: #ffff;
	font-weight: 700;
}

.header-text h1 {
	font-size: 36px;
	width: 80%;
}

.header-text p {
	font-size: 18px;
	margin-top: 62px;
	margin-bottom: 56px;
}

.header-btn {
	border: solid 3px white;
	padding: 13px 58px;
	font-weight: 700;
	font-size: 18px;
	background: rgba(0, 0, 0, 0);
	color: white;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 1s ease-out;
}

@media screen and (min-width: 768px) {
	.header-text-box {
		margin-left: 46px;
	}

	.header-text h1 {
		width: 70%;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		width: 960px;
		margin: 0 auto;
	}

	.header-text-box {
		margin-left: 0;
	}

	.header-btn {
		margin-left: 0;
	}

	.header-btn:hover {
		background-color: white;
		color: black;
	}
}

/* main - about us */

.about-us {
	background-color: #f1f1f1;
	padding: 50px 0;
}

.about-us-title {
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 60px;
	text-align: center;
}

.specialist {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.specialist-img {
	background-position: center;
	background-size: cover;
	width: 197px;
	height: 197px;
	border-radius: 50%;
	flex-shrink: 0;
}

.img-straight {
	background-image: url(/image/specialist-first.jpg);
}

.img-reverse {
	margin-top: 50px;
	background-image: url(/image/specialist-second.jpg);
}

.specialist-scribd {
	text-align: justify;
	margin: 0 15px;
}
.specialist-scribd h2 {
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 18px;
}

@media screen and (min-width: 768px) {
	.specialist-scribd h2 {
		text-align: center;
	}

	.specialist-scribd p {
		text-align: justify;
		margin: 0 29px;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		width: 960px;
		margin: 0 auto;
	}

	.about-us {
		padding: 70px 0;
	}

	.about-us-title {
		text-align: left;
	}

	.specialist {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
	}

	.specialist:nth-of-type(even) {
		flex-direction: row-reverse;
		text-align: right;
	}

	.img-reverse {
		margin-top: 0;
	}

	.first {
		margin-left: 45px;
	}

	.second {
		margin-right: 45px;
	}

	.specialist-scribd {
		text-align: inherit;
	}

	.specialist-scribd h2 {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 18px;
	}
}

/*main - offer*/

.offer {
	background-color: #405d78;
	width: 100%;
	padding-top: 50px;
}

.offer-title {
	text-align: center;
	padding-bottom: 50px;
	font-weight: 700;
	font-size: 26px;
	color: white;
}

.offer-box {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.offer-box-item {
	background-color: #f1f1f1;
	width: 338px;
	height: 331px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease-in;
	position: relative;
}

.offer-box-item p {
	font-size: 24px;
	text-align: center;
}

.elipse {
	position: absolute;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: #e07a64;
	top: -11px;
	left: -11px;
}

@media screen and (min-width: 768px) {
	.offer {
		padding: 50px 0;
	}
	.offer-title {
		padding-bottom: 80px;
		font-size: 36px;
		text-align: left;
		margin-left: 46px;
	}

	.offer-box {
		margin: 0 auto;
		width: 720px;
		height: 450px;
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(3, 1fr);
		gap: 63px;
		place-content: center;
	}

	.offer-box-item {
		width: 198px;
		height: 193px;
		margin-bottom: 0;
	}
}
@media screen and (min-width: 1024px) {
	.container {
		width: 960px;
		margin: 0 auto;
	}
	.offer {
		padding: 70px 0;
	}

	.offer-title {
		padding-bottom: 80px;
		font-size: 36px;
		text-align: left;
	}

	.offer-box {
		margin: 0 auto;
		width: 720px;
		height: 450px;
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(3, 1fr);
		gap: 63px;
		place-content: center;
	}

	.offer-box-item {
		width: 198px;
		height: 193px;
		margin-bottom: 0;
		cursor: pointer;
	}

	.offer-box-item:hover {
		transform: scale(1.05);
	}
}

/* footer */

.footer-section {
	height: 147px;
	width: 100%;
	background-color: #4e4e4e;
}

.footer {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer p {
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	color: #ffff;
	letter-spacing: 1px;
	display: flex-inline;
	padding-bottom: 15px;
}

.footer i {
	color: white;
	font-size: 32px;
	font-family: 'Font Awesome\ 5 free', 'Font Awesome\ 5 brands';
	padding-right: 25px;
	cursor: pointer;
}

@media screen and (min-width: 1024px) {
	.container {
		width: 960px;
		margin: 0 auto;
	}

	.footer-section {
		height: 71px;
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.footer p {
		padding-bottom: 0;
	}
}
